@import "bootstrap-sprockets";
@import "bootstrap";
$pink: rgb(224, 178, 186);
$dark-grey: #a9a9a9;

/* universal */

html,
body {
    padding-top: 60px;
    font-family: 'Raleway', sans-serif;
    background: $pink;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}


/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
    color: $pink;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}


/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: paleturquoise;
    text-decoration: none;
}


/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 2px dotted purple;
    color: purple;
    a {
        color: purple;
        &:hover {
            color: paleturquoise;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}